<h1>New restaurant</h1>

<%= simple_form_for (@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: Restaurant::CATEGORIES %>
  <%= f.submit %>
<% end %>

<h5><%= link_to "Back to the list", restaurants_path, class: "btn btn-warning" %></h5>
